.form
{
    width: 50%;
    place-self: center;
}

.form__group:not(:last-child)
{
    margin-bottom: 2rem;
}

.form__input
{
    font-size: 1.3rem;
    font-family: inherit;
    color: #767676;
    padding: 1rem 1.5rem;
    border-radius: 2px;
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
}

.form__input--textarea
{
    resize: none;
}

.form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(black, .1);
    border-bottom: 3px solid #00CC00;
}

.form__input:focus:invalid {
    border-bottom: 3px solid #ff0000;
}

.form__input::-webkit-input-placeholder {
    color: #CDD0D4;
}

.form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: .7rem;
    display: block;
}

/* responsive */

@media only screen and (max-width: 56.25em) /*tab-port*/
{
    .form
    {
        width: 65%;
        place-self: start center;
    }

    .form__input
    {
        font-size: 1.1rem;
    }

    .form__label
    {
        font-size: 1.1rem;
    }

    .btn
    {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 37.5em) /*phone*/
{
    .form
    {
        width: 95%;
    }

    .btn
    {
        font-size: 1.1rem;
    }
}