.offerts
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 4rem;
    padding: 3rem 8rem;
}

.offer__1
{
    background-color: khaki;
    text-align: center;
    min-height: 30vh;
}

.offer__list
{
    list-style-type: none;
}

.offer__link
{
    
}