.heading__primary
{
    font-size: 4rem;
    font-family: Nunito;
    color: white;
}

.heading__secondary
{
    font-size: 3.5rem;
    text-transform: uppercase;
}

.heading__teriary
{
    font-size: 3rem;
}

.paragraph
{
    column-count: 3;
}

@media only screen and (max-width: 112.5em) /*big-desktop*/
{
    .heading__primary
    {
        font-size: 3.2rem;
    }

    .heading__secondary
    {
        font-size: 3rem;
    }

    .heading__teriary
    {
        font-size: 2.2rem;
    }
}

@media only screen and (max-width: 75em) /*tab-land*/
{
    .heading__primary
    {
        font-size: 3rem;
    }

    .heading__secondary
    {
        font-size: 2.8rem;
    }

    .heading__teriary
    {
        font-size: 1.9rem;
    }

    .paragraph
    {
        column-count: 2;

        max-height: 65vh;
        overflow: hidden;
        text-overflow: ellipsis
    }
}

/* responsive */

@media only screen and (max-width: 112.5em) /*big-desktop*/
{
    .heading__secondary
    {
        font-size: 2.5rem;
    }

    .paragraph
    {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 56.25em) /*tab-port*/
{
    .heading__teriary
    {
        font-size: 1.7rem;
    }

    .paragraph
    {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 37.5em) /*phone*/
{
    .heading__primary
    {
        font-size: 2.3rem;
    }

    .heading__secondary
    {
        font-size: 2rem;
    }

    .paragraph
    {
        column-count: 1;
    }
}