.mr-bot-sm
{
    margin-bottom: 1rem;
}

.mr-bot-med
{
    margin-bottom: 1.5rem;
}

.mr-bot-lg
{
    margin-bottom: 2rem;
}

.mr-bot-xlg
{
    margin-bottom: 4rem;
}

.text-center
{
    text-align: center;
}

.anim-left
{
    animation-name: moveInLeft;
}

.anim-right
{
    animation-name: moveInRight;
}

.anim-bottom
{
    animation-name: moveInBottom;
}